<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harshyadav.renerahomeslandlord">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PhoneRegistration" />
        <activity android:name=".NameAndPassword" />
        <activity android:name=".LocationAddress" />
        <activity android:name=".Preferance" />
        <activity android:name=".NumberOfRooms" />
        <activity android:name=".Rules" >

        </activity>
        <activity android:name=".Price" >

        </activity>
        <activity android:name=".ProfilePage" />
        <activity android:name=".LogIn" />
        <activity android:name=".Check" />
        <activity android:name=".MainPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondPage" />
        <activity android:name=".UploadDoorIn">

        </activity>
        <activity android:name=".Confirm" />
        <activity android:name=".EnjoyLiving" />
        <activity android:name=".UploadDoorOut" />
        <activity android:name=".UploadLight" />
        <activity android:name=".UploadFan" />
        <activity android:name=".UploadBed" />
        <activity android:name=".UploadBedding" />
        <activity android:name=".UploadTable" />
        <activity android:name=".UploadChair" />
        <activity android:name=".UploadWardrobe" />
        <activity android:name=".UploadBathroom" />
        <activity android:name=".UploadOthers"></activity>
    </application>

</manifest>